<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <ng-container *ngIf="authType === 'login'; else haveAccount">
            <a routerLink="/register">Need an account?</a>
          </ng-container>
          <ng-template #haveAccount>
            <a routerLink="/login">Have an account?</a>
          </ng-template>
        </p>

        <list-errors *ngIf="error" [error]="error"></list-errors>

        <form [formGroup]="authForm" (submit)="onSubmit()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                *ngIf="this.authType === 'register'"
                class="form-control form-control-lg"
                type="text"
                placeholder="Your Name"
                formControlName="username"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Email"
                formControlName="email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="password"
                placeholder="Password"
                formControlName="password"
              />
            </fieldset>
            <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
              {{ title }}
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
