<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>
      <ng-container *ngIf="isOwner; else follow_favorite">
        <a
          class="btn btn-sm btn-outline-secondary"
          [routerLink]="['/editor', article.slug]"
        >
          <i class="ion-edit"></i> Edit Article
        </a>
        &nbsp;&nbsp;
        <button
          class="btn btn-sm btn-outline-danger"
          [ngClass]="{ disabled: isDeleting }"
          (click)="deleteArticle()"
        >
          <i class="ion-trash-a"></i> Delete Article
        </button>
      </ng-container>
      <ng-template #follow_favorite>
        <article-meta [article]="article">
          <follow-button
            [author]="article.author"
            [needLogin]="needLogin"
            (trigger)="onTriggerFollow($event)"
          ></follow-button
          >&nbsp;&nbsp;<favorite-button
            [article]="article"
            [needLogin]="needLogin"
            (trigger)="onTriggerFavorite($event)"
          >
            &nbsp;{{ article.favorited ? "Unfavorite" : "Favorite"
            }}<span class="counter">({{ article.favoritesCount }})</span>
          </favorite-button>
        </article-meta>
      </ng-template>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12" [innerHTML]="article.body"></div>
    </div>

    <hr />

    <div class="article-actions">
      <ng-container *ngIf="isOwner; else follow_favorite">
        <a
          class="btn btn-sm btn-outline-secondary"
          [routerLink]="['/editor', article.slug]"
        >
          <i class="ion-edit"></i> Edit Article
        </a>
        &nbsp;&nbsp;
        <button
          class="btn btn-sm btn-outline-danger"
          [ngClass]="{ disabled: isDeleting }"
          (click)="deleteArticle()"
        >
          <i class="ion-trash-a"></i> Delete Article
        </button>
      </ng-container>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <ng-container *ngIf="needLogin; else commentForm">
          <div>
            <a routerLink="/login">Sign in</a> or
            <a routerLink="/login">sign up</a> to add comments on this article.
          </div>
        </ng-container>
        <ng-template #commentForm>
          <list-errors *ngIf="error" [error]="error"></list-errors>
          <form
            *ngIf="!needLogin"
            class="card comment-form"
            (ngSubmit)="postComment()"
          >
            <div class="card-block">
              <textarea
                class="form-control"
                placeholder="Write a comment..."
                [formControl]="comment"
                rows="3"
              ></textarea>
            </div>
            <div class="card-footer">
              <img [src]="owner.image" class="comment-author-img" />
              <button class="btn btn-sm btn-primary" type="submit">
                Post Comment
              </button>
            </div>
          </form>
        </ng-template>
        <article-comment
          *ngFor="let comment of comments"
          [comment]="comment"
        ></article-comment>
      </div>
    </div>
  </div>
</div>
