<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <article-meta [article]="article">
        <ng-container *ngIf="isAuthor; else follow_favorite">
          <a
            class="btn btn-sm btn-outline-secondary"
            [routerLink]="['/editor', article.slug]"
          >
            <i class="ion-edit"></i> Edit Article
          </a>
          &nbsp;
          <button
            class="btn btn-sm btn-outline-danger"
            [ngClass]="{ disabled: isDeleting }"
            (click)="deleteArticle()"
          >
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </ng-container>
      </article-meta>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <div [innerHTML]="article.body | markdown"></div>
        <ul class="tag-list">
          <li
            *ngFor="let tag of article.tagList"
            class="tag-default tag-pill tag-outline"
          >
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <article-meta [article]="article">
        <ng-container *ngIf="isAuthor; else follow_favorite">
          <a
            class="btn btn-sm btn-outline-secondary"
            [routerLink]="['/editor', article.slug]"
          >
            <i class="ion-edit"></i> Edit Article
          </a>
          &nbsp;
          <button
            class="btn btn-sm btn-outline-danger"
            [ngClass]="{ disabled: isDeleting }"
            (click)="deleteArticle()"
          >
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </ng-container>
      </article-meta>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <list-errors [error]="commentErrors"></list-errors>
        <form class="card comment-form" (submit)="addComment()">
          <div class="card-block">
            <textarea
              class="form-control"
              placeholder="Write a comment..."
              rows="3"
              [formControl]="commentBody"
            ></textarea>
          </div>
          <div class="card-footer">
            <img [src]="currentUser.image" class="comment-author-img" />
            <button class="btn btn-sm btn-primary" type="submit">
              Post Comment
            </button>
          </div>
        </form>

        <article-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (deleted)="deleteComment($event, comment)"
        ></article-comment>
      </div>
    </div>
  </div>
</div>

<ng-template #follow_favorite>
  <follow-profile-button
    [profile]="article.author"
    (toggle)="toggleFollow($event)"
  ></follow-profile-button>
  &nbsp;&nbsp;
  <favorite-button [article]="article" (toggle)="toggleFavorite($event)">
    {{ article.favorited ? "Unfavorite" : "Favorite" }} Post
    <span class="counter">({{ article.favoritesCount }})</span>
  </favorite-button>
</ng-template>
