<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img [src]="profile.image" class="user-img" />
          <h4>{{ profile.username }}</h4>
          <p>{{ profile.bio }}</p>
          <follow-button
            *ngIf="selfProfile == false; else settingButton"
            [author]="profile"
            (trigger)="onTriggerFollow($event)"
          ></follow-button>
          <ng-template #settingButton>
            <a
              class="btn btn-sm btn-outline-secondary action-btn"
              routerLink="/settings"
              ><i class="ion-gear-a"></i> Edit Profile Settings
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" routerLink="" routerLinkActive="active"
                >My Articles</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/favorited"
                routerLinkActive="active"
                >Favorited Articles</a
              >
            </li>
          </ul>
        </div>
        <!--[TODO] articles -->
      </div>
    </div>
  </div>
</div>
